.header-servis {
  background-color: #fff; }
  .header-servis .conteiner {
    width: 1150px; }
  .header-servis .flex {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-servis .menu {
    margin-right: auto;
    padding-left: 60px; }
    .header-servis .menu ul li {
      display: inline-block; }
      .header-servis .menu ul li + li {
        padding-left: 40px; }
      .header-servis .menu ul li a {
        position: relative;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color: #3E3E3E;
        padding: 30px 0; }
        .header-servis .menu ul li a:hover:after {
          opacity: 1; }
        .header-servis .menu ul li a:after {
          position: absolute;
          content: '';
          bottom: 0;
          background: #FAAF40;
          -webkit-border-radius: 33px;
                  border-radius: 33px;
          left: 0;
          display: inline-block;
          width: 100%;
          height: 2px;
          opacity: 0;
          -webkit-transition: opacity .5s;
          -o-transition: opacity .5s;
          transition: opacity .5s; }
        .header-servis .menu ul li a.active {
          position: relative;
          font-weight: 600; }
          .header-servis .menu ul li a.active:after {
            opacity: 1; }
  .header-servis a.bell {
    position: relative;
    background-image: url(./img/servis/bell.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 28px; }
    .header-servis a.bell span {
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 10px;
      color: #ffffff;
      top: -7px;
      right: -9px;
      line-height: 20px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      position: absolute;
      text-align: center;
      content: '2';
      display: inline-block;
      background: #EC1B2E;
      border: 2px solid #FFFFFF;
      width: 19px;
      height: 19px; }
  .header-servis .my-profile {
    padding-left: 30px; }
    .header-servis .my-profile .flex {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .header-servis .my-profile .my-profile_photo {
      padding-right: 12px;
      position: relative; }
      .header-servis .my-profile .my-profile_photo img {
        display: inherit; }
    .header-servis .my-profile a.my-profile_name {
      display: block;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      color: #323232; }
    .header-servis .my-profile a.my-money {
      position: relative;
      display: inline-block;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      color: #000000; }
      .header-servis .my-profile a.my-money:after {
        position: absolute;
        top: 50%;
        right: -21px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        content: '';
        display: inline-block;
        width: 5.5px;
        height: 1px;
        background-color: #6D6D6D; }
      .header-servis .my-profile a.my-money:before {
        position: absolute;
        top: 50%;
        right: -25px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        content: '';
        display: inline-block;
        width: 5.5px;
        height: 1px;
        background-color: #6D6D6D; }

.wrapper-social {
  background-color: #F6F6F6;
  background-image: url(./img/servis/bg.jpg);
  background-repeat: no-repeat; }
  .wrapper-social h2 {
    text-transform: none;
    padding: 50px 0 30px;
    text-align: left;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF; }
  .wrapper-social .social-conteiner {
    width: 1150px; }
    .wrapper-social .social-conteiner .social_block_left {
      -webkit-border-radius: 10px;
              border-radius: 10px;
      width: 72.4%; }
    .wrapper-social .social-conteiner .social_block_right {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 25%;
      -webkit-border-radius: 10px;
              border-radius: 10px; }

.faq .faq-main {
  padding-bottom: 150px; }
  .faq .faq-main .faq-conteiner {
    background-color: #ffffff; }
    .faq .faq-main .faq-conteiner h2 {
      padding: 20px 30px;
      text-align: left;
      border-bottom: 1px #EBEBEB solid; }
    .faq .faq-main .faq-conteiner .section5 {
      padding: 55px 50px 40px;
      background: none; }
      .faq .faq-main .faq-conteiner .section5 .pane_header {
        border: 1px solid #EBEBEB;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-border-radius: 10px;
                border-radius: 10px; }
        .faq .faq-main .faq-conteiner .section5 .pane_header br {
          display: none; }
      .faq .faq-main .faq-conteiner .section5 .sect5_faq .subitem {
        background: #F8F8F8;
        -webkit-border-radius: 10px;
                border-radius: 10px; }
        .faq .faq-main .faq-conteiner .section5 .sect5_faq .subitem:before {
          border-bottom: 13px solid #F8F8F8; }
      .faq .faq-main .faq-conteiner .section5 .sect5_faq-left,
      .faq .faq-main .faq-conteiner .section5 .sect5_faq-right {
        width: 100%; }
  .faq .faq-main .right-menu ul {
    background-image: url(./img/servis/right-menu-bg.png);
    background-position-x: right;
    background-position-y: 100px;
    background-repeat: no-repeat;
    background-color: #fff;
    -webkit-border-radius: 10px;
            border-radius: 10px; }
    .faq .faq-main .right-menu ul h4 {
      padding: 25px 30px 15px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #222222; }
    .faq .faq-main .right-menu ul li a {
      display: inline-block;
      padding: 10px 30px;
      font-size: 14px;
      line-height: 19px;
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .faq .faq-main .right-menu ul li a:hover {
        color: #EE4023; }
    .faq .faq-main .right-menu ul a.other-wallet {
      display: inline-block;
      margin-top: 10px;
      padding: 22px 30px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      font-size: 14px;
      line-height: 19px;
      color: #474747;
      border-top: 1px rgba(196, 196, 196, 0.264) solid; }
      .faq .faq-main .right-menu ul a.other-wallet:hover {
        -webkit-text-decoration-line: underline;
                text-decoration-line: underline; }

.moi-operacii {
  font-family: 'Montserrat', sans-serif; }
  .moi-operacii h4 {
    position: relative;
    padding-left: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #303030; }
    .moi-operacii h4:after {
      content: '';
      width: 36px;
      height: 36px;
      display: inline-block;
      position: absolute;
      left: 0;
      top: -7px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #F4F9F1;
      background-position: center center;
      background-repeat: no-repeat; }
  .moi-operacii span.red:before {
    content: url("../img/servis/arrow-r.svg");
    position: absolute;
    left: -8px;
    top: 1px; }
  .moi-operacii span.green:before {
    content: url("../img/servis/arrow-g.svg");
    position: absolute;
    left: -8px;
    top: 1px; }
  .moi-operacii .first-row .my-balance {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 58.3%;
    background-color: #fff;
    -webkit-box-shadow: 0 11px 38px rgba(0, 0, 0, 0.034);
            box-shadow: 0 11px 38px rgba(0, 0, 0, 0.034);
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding: 35px 40px; }
    .moi-operacii .first-row .my-balance h4:after {
      background-image: url(./img/servis/wallet-ico.svg); }
    .moi-operacii .first-row .my-balance div.card {
      text-align: right; }
      .moi-operacii .first-row .my-balance div.card p {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #222222; }
      .moi-operacii .first-row .my-balance div.card p.card-number {
        padding-top: 7px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #3C3C3C; }
    .moi-operacii .first-row .my-balance .my-money {
      padding-top: 10px; }
      .moi-operacii .first-row .my-balance .my-money p {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #222222; }
      .moi-operacii .first-row .my-balance .my-money p.ballance {
        padding-top: 5px;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        color: #323232; }
        .moi-operacii .first-row .my-balance .my-money p.ballance span {
          font-weight: 600; }
    .moi-operacii .first-row .my-balance .my-balance-button {
      padding-top: 25px; }
      .moi-operacii .first-row .my-balance .my-balance-button a {
        padding-left: 40px;
        padding-right: 22px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        line-height: 40px; }
        .moi-operacii .first-row .my-balance .my-balance-button a.pay {
          position: relative;
          color: #ffffff;
          background: -webkit-linear-gradient(347.36deg, #84D022 4.47%, #67AB0E 96.3%), #FFFFFF;
          background: -o-linear-gradient(347.36deg, #84D022 4.47%, #67AB0E 96.3%), #FFFFFF;
          background: linear-gradient(102.64deg, #84D022 4.47%, #67AB0E 96.3%), #FFFFFF;
          -webkit-box-shadow: 0px 4px 16px rgba(139, 197, 63, 0.388);
                  box-shadow: 0px 4px 16px rgba(139, 197, 63, 0.388);
          -webkit-border-radius: 53px;
                  border-radius: 53px;
          margin-right: 10px; }
          .moi-operacii .first-row .my-balance .my-balance-button a.pay:before {
            content: url("../img/servis/coins.svg");
            position: absolute;
            left: 18px;
            top: 2px; }
        .moi-operacii .first-row .my-balance .my-balance-button a.take {
          position: relative;
          margin-right: auto;
          border: 1px solid #E1E1E1;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          -webkit-border-radius: 30px;
                  border-radius: 30px; }
          .moi-operacii .first-row .my-balance .my-balance-button a.take:before {
            content: url("../img/servis/funds.svg");
            position: absolute;
            left: 18px;
            top: 2px; }
        .moi-operacii .first-row .my-balance .my-balance-button a.control {
          position: relative;
          font-size: 12px;
          font-weight: normal;
          color: #2D2D2D;
          text-transform: none; }
          .moi-operacii .first-row .my-balance .my-balance-button a.control:before {
            content: url("../img/servis/settings.svg");
            position: absolute;
            left: 18px;
            top: 2px; }
          .moi-operacii .first-row .my-balance .my-balance-button a.control:hover {
            -webkit-text-decoration-line: underline;
                    text-decoration-line: underline; }
  .moi-operacii .first-row .money-transfer {
    background-color: #fff;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    width: 39%;
    padding: 39px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: url(./img/servis/money-transfer-bg.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right; }
    .moi-operacii .first-row .money-transfer h4 {
      margin-bottom: 30px; }
      .moi-operacii .first-row .money-transfer h4:after {
        background-image: url(./img/servis/transfer.svg); }
    .moi-operacii .first-row .money-transfer a {
      font-family: 'Montserrat', sans-serif;
      display: block;
      position: relative;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; }
      .moi-operacii .first-row .money-transfer a + a {
        margin-top: 15px; }
      .moi-operacii .first-row .money-transfer a:after {
        content: url("../img/servis/arrow.svg");
        position: absolute;
        right: -30px;
        top: 4px;
        opacity: 0;
        -webkit-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s; }
      .moi-operacii .first-row .money-transfer a:hover {
        color: #20A247; }
        .moi-operacii .first-row .money-transfer a:hover:after {
          opacity: 1; }
      .moi-operacii .first-row .money-transfer a.all {
        padding-top: 7px;
        font-size: 12px;
        line-height: 19px;
        -webkit-text-decoration-line: underline;
                text-decoration-line: underline;
        color: #2D2D2D; }
        .moi-operacii .first-row .money-transfer a.all:hover {
          color: #20A247; }
          .moi-operacii .first-row .money-transfer a.all:hover:after {
            opacity: 0; }
  .moi-operacii .second-row {
    margin-top: 30px;
    margin-bottom: 90px; }
    .moi-operacii .second-row .history {
      background-color: #fff;
      padding: 35px 40px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .moi-operacii .second-row .history h4:after {
        background-color: #FFF9F1;
        background-image: url(./img/servis/archive.svg); }
      .moi-operacii .second-row .history .history_first-row p {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px; }
      .moi-operacii .second-row .history .history_first-row span {
        position: relative;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        line-height: 9px;
        color: #303030; }
      .moi-operacii .second-row .history .history_first-row .costs {
        text-align: center;
        margin-left: auto;
        padding-right: 25px; }
      .moi-operacii .second-row .history .history_first-row .income {
        text-align: center;
        padding-left: 25px;
        position: relative; }
        .moi-operacii .second-row .history .history_first-row .income:after {
          content: '';
          width: 1px;
          height: 29px;
          display: inline-block;
          position: absolute;
          background: #F1F1F1;
          top: 5px;
          left: 0; }
      .moi-operacii .second-row .history .history_second-row {
        margin-top: 10px;
        border-bottom: 1px rgba(196, 196, 196, 0.244) solid; }
        .moi-operacii .second-row .history .history_second-row .navigation a {
          position: relative;
          display: inline-block;
          padding: 16px 12px;
          font-size: 12px;
          line-height: 18px;
          color: #444444; }
          .moi-operacii .second-row .history .history_second-row .navigation a:hover:after {
            opacity: 1; }
          .moi-operacii .second-row .history .history_second-row .navigation a:after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 2px;
            background: #FAAF40;
            -webkit-border-radius: 10px;
                    border-radius: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            -webkit-transition: opacity 0.5s;
            -o-transition: opacity 0.5s;
            transition: opacity 0.5s; }
          .moi-operacii .second-row .history .history_second-row .navigation a.active {
            font-weight: 600;
            color: #222222; }
            .moi-operacii .second-row .history .history_second-row .navigation a.active:after {
              opacity: 1; }
        .moi-operacii .second-row .history .history_second-row .time {
          font-family: 'Open Sans', sans-serif;
          padding: 16px 12px;
          font-size: 12px;
          line-height: 18px; }
          .moi-operacii .second-row .history .history_second-row .time span {
            padding-left: 22px;
            padding-right: 12px;
            position: relative;
            font-weight: 600; }
            .moi-operacii .second-row .history .history_second-row .time span:after {
              content: url("../img/servis/calendar.svg");
              position: absolute;
              left: 0;
              top: 0; }
          .moi-operacii .second-row .history .history_second-row .time a {
            font-weight: 300;
            color: #484848; }
            .moi-operacii .second-row .history .history_second-row .time a:hover {
              text-decoration: underline; }
    .moi-operacii .second-row .social_block_right .mango {
      padding: 30px 40px;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      background-image: url(./img/servis/mango-bg.jpg);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
      .moi-operacii .second-row .social_block_right .mango h3 {
        padding-bottom: 15px;
        font-weight: 800;
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
        color: #FFFFFF; }
      .moi-operacii .second-row .social_block_right .mango p {
        font-size: 14px;
        line-height: 130%;
        color: #FFFFFF;
        padding-bottom: 15px; }

#footer-servis {
  background-color: #ffffff;
  padding: 55px 0 0; }
  #footer-servis .footer-servis_left-block div + div {
    padding-left: 50px; }
  #footer-servis .footer-servis_left-block h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #C1C1C1;
    padding-bottom: 18px; }
  #footer-servis .footer-servis_left-block ul li a {
    font-size: 14px;
    line-height: 32px;
    color: #404040; }
    #footer-servis .footer-servis_left-block ul li a:hover {
      color: #F05A22; }
  #footer-servis .footer-servis_social {
    width: 18%; }
    #footer-servis .footer-servis_social .flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    #footer-servis .footer-servis_social div + div {
      padding-top: 15px; }
    #footer-servis .footer-servis_social div:nth-child(3) {
      padding-top: 40px; }
    #footer-servis .footer-servis_social .footer-servis_social_block p {
      font-size: 14px;
      line-height: 19px;
      color: #777777; }
    #footer-servis .footer-servis_social .footer-servis_social_block a {
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      color: #222222; }
    #footer-servis .footer-servis_social .footer-servis_social_block-third {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #footer-servis .footer-servis_social .footer-servis_social_block-third a .icon {
        fill: #4B4B4B; }
      #footer-servis .footer-servis_social .footer-servis_social_block-third a:hover .icon {
        fill: #F75539; }
      #footer-servis .footer-servis_social .footer-servis_social_block-third a .icon-telegram {
        height: 19px;
        width: 24px; }
      #footer-servis .footer-servis_social .footer-servis_social_block-third a .icon-vk {
        width: 22.19px; }
      #footer-servis .footer-servis_social .footer-servis_social_block-third a .icon-fb {
        width: 26px;
        height: 23px; }
      #footer-servis .footer-servis_social .footer-servis_social_block-third a .icon-insta {
        width: 23px;
        height: 25px; }
  #footer-servis .footer-servis_bottom {
    border-top: 2px #F6F6F6 solid;
    margin-top: 50px;
    padding: 35px 0; }
    #footer-servis .footer-servis_bottom .footer-logo, #footer-servis .footer-servis_bottom p {
      display: inline-block;
      vertical-align: middle; }
    #footer-servis .footer-servis_bottom p {
      padding-left: 17px;
      font-size: 16px;
      line-height: 22px;
      color: #7C7C7C; }

@media (max-width: 767px) {
  p {
    font-size: 14px;
    line-height: 19px; } }
